{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema online</title>
    {% bootstrap_css %}
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'inicio' %}">
                    Sistema Online
                </a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span>Menu</span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="list-item">
                            <a href="{% url 'listar_aluno' %}" class="nav-link">Alunos</a>
                        </li>
                        <li class="list-item">
                            <a href="{% url 'listar_curso' %}" class="nav-link">Cursos</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="nav-link">Turmas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            
        
        

        {% block content %}
        {% endblock %}

    </div>
</body>
    {% bootstrap_javascript %}
</html>