{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block content %}

    <h2>Listar Curso</h2>
    <a href="{% url 'incluir_curso' %}" class="btn btn-primary">Cadastrar novo curso</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Carga_horaria</th>
                <th>Investimento</th>
            </tr>
        </thead>
        <tbody>
            {% for a in cursos %}
                <tr>
                    <td>{{a.id}}</td>
                    <td>{{a.nome}}</td>
                    <td>{{a.carga_horaria}}</td>
                    <td>{{a.investimento}}</td>
                    <td>
                        <a href="{% url 'editar_curso' a.id %}" class="btn btn-secondary">Editar {% bs_icon 'pen' %}</a>
                        <a href="{% url 'excluir_curso' a.id %}" class="btn btn-danger">Excluir {% bs_icon 'x-lg' %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}